.one-box{


    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;

    margin: 10px;
    background-color: #eee;
}
.container{

    display: flex;
    flex-wrap: wrap;
}